extends ../layout

block content   

    a(href='bicicletas/create') Agregar nueva bici
    
    table.table
        thead
            tr  
                th(scope='col') #
                th(scope='col') color
                th(scope='col') modelo
                th(scope='col') ubicacion
                th(scope='col')

            tbody
                each x in bicis
                    tr
                        td(scope='row')
                            = x.id
                        td= x.color
                        td= x.modelo
                        td= x.ubicacion
                        td
                            form.inline(method='post' action='bicicletas/' + x.id + '/delete')
                                input(type='hidden' name='id' value=x.id)
                                button.link-button(type='submit' name='submitbutton' value='submitvalue' class='btn') 
                                    = 'Eliminar'      