extends ../layout

block content

    h1 Nueva Bicicleta
    form(action='/bicicletas/create' method='post')
    
        label(for='id') id
        input#id(type='number' name='id')
        br
        label(for='color') color
        input#color(type='text' name='color')
        br
        label(for='modelo') modelo
        input#modelo(type='text' name='modelo')
        br
        label(for='lat') latitud
        input#lat(type='texts' name='lat')
        br
        label(for='lng') longitud
        input#lng(type='text' name='lng')
        br
        input.btn(type='submit' value='OK')
